.App{
    cursor: none;
    min-height: 100vh;
    &.mouseDown{
        .cursor{
            height: 10px;
            width: 10px;
        }
    }
    .cursor{
        position: fixed;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
        pointer-events: none;
        left: -100px;
        top: 50%;
        mix-blend-mode: difference;
        background-color: #fff;
        z-index: 10000;
        height: 20px;
        width: 20px;
        transition: height .3s, width .1s, border-radius .2s;
        
        &.text{
            height: 30px;
            width: 30px;
        }
        &.onLi{
            height: 15px;
            width: 15px;
            border-radius: 0;
        }
        &.onInput{
            height: 17px;
            width: 2px;
            border-radius: 0;
            mix-blend-mode: normal;
            background-color: rgb(28, 22, 56);
        }
        &.button{
            height: 0;
            width: 0;
        }
        &.transition{
            height: 500vh;
            width: 500vw;
            mix-blend-mode: normal;
            background-color: #090d18;
        }

        // pages
        &.about{
            background-color: rgb(27, 121, 58);
        }
        &.projects{
            background-color: #f6f2e7;
        }

    }
    .toContact{
        z-index: 10000;
        border: 1px solid #d85353;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        overflow: hidden;
        
        i{
            z-index: 100;
            color: #d85353;
        }
        &::before{
            position: absolute;
            display: block;
            content : "";
            background-color: #d85353;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: all .25s;
            bottom: 0;
            left: 0;
            height: 0;
            width: 100%;
        }
        &:hover::before{
            height: 100%;
        }

        &:hover{
            i{
                color: #fff;
            }
        }

    }
}